<div class="container">
<ul class="nav nav-tabs nav-justified">
  <li role="presentation"><%=link_to "Home",root_url %></li>
  <li role="presentation"><%= link_to 'Explore',welcome_index_url %></li>
</ul>
</div>